{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/services.css'%}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/jquery-ui-timepicker-addon.css' %}">
    {% endblock %}
  </head>
  <body {% block bodyid %}servicesBody{% endblock %}>
    {% block pagecontent %}
    <div class="row">
      <h1 class="col-12" id="servicesHeader">Services</h1>
    </div>
    <!-- <div class="row">
      <div class="col-12" id="servicesDiv">
        <h2 id="servicesWeProvide">Services We Provide</h2>
        <hr class="headingUnderline">
        <ul id="servicesList">
          <li class="servicesLI">Individual Therapy</li>
          <li class="servicesLI">Family Therapy</li>
          <li class="servicesLI">Couples Therapy</li>
          <li class="servicesLI">Support Groups</li>
          <li class="servicesLI">Life Coaching</li>
          <li class="servicesLI">Workshops</li>
          <li class="servicesLI">Supervision and Training</li>
        </ul>
        <a href="{% url 'new_appointment' %}" id="makeAppointment"> Make an Appointment</a>
      </div>
    </div> -->
    {% endblock %}
  </body>
</html>
